
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.main-header {
    background-color: #333;
    color: #0d0c0c;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}


.header-icons {
    display: flex;
    align-items: center;
}

.header-icons a {
    color: #fff; 
    text-decoration: none;
    margin-left: 20px; 
    font-size: 20px; 
    transition: color 0.3s; 
    gap: 20px;
}

.header-icons a:hover {
    color: #8c8989; 
}

.hero-section {
    background-color: #433f3f;
    padding: 60px 0;
    text-align:center;
}

.hero-text {
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 36px;
    margin: 10px 0;
}

.price-info {
    font-size: 20px;
    color: #e74c3c;
}

.btn-primary {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.section-padding {
    padding: 40px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.price-original {
    text-decoration: line-through;
    color: #999;
}

.price-sale {
    color: #e74c3c;
    font-weight: bold;
}

.btn-add-to-cart {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}


.advantages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.advantage-item {
    text-align: center;
}


.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
}
